body{
	background-color:#f4304b;
	 background-image: url("breastcancer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px 673px;
    


}
.parameters{
	margin-top: 10px;
	padding: 10px;
}

.parameters label{
	
	padding-right:10px;
	width:250px;
}
.parameters input{
	width: 300px;
}
p predict{
	width:100px;
}